<div class="row">
  <div class="col-md-6">
    <h3>About Prof. Miller&ndash;Jensen</h3>
    <p>
      <img id="kmj" class="box-rotate-10 small-shadow hidden-xs" height="143"
      width="184" src="/static/img/kmj.jpg"> Kathryn is an Assistant
      Professor of Biomedical Engineering at Yale.  Before joining
      the faculty, she was an NIH Postdoctoral Fellow at <a
      href="http://www.Berkeley.edu">UC Berkeley</a> in the <a
      href="http://www.cchem.berkeley.edu/schaffer/">Schaffer
      laboratory</a>.
    </p>

    <p>
      Kathryn worked previously at the <a
      href="http://www.nationalacademies.org/">National Academies</a>,
      <a href="http://www.merck.com/">Merck Pharmaceuticals</a>,
      the<a href="http://english.cas.cn/"> Chinese Academy of
      Sciences,</a> and <a href="http://www.monitor.com/">Monitor
      Group</a>.  She
       received
      her Ph.D. in Chemical Engineering at <a
      href="http://web.mit.edu">MIT</a> with <a
      href="http://web.mit.edu/dallab">Doug Lauffenburger</a>.  and
      her B.E. &amp; B.A. degrees at <a
      href="http://www.Dartmouth.edu">Dartmouth College</a>.
    </p>

    <p>
      She can be reached via either of the following methods:
    </p>
    <ul>
      <li>
         phone at&nbsp;(203)&nbsp;432-4265, or
      </li>
      <li>
        e&ndash;mail at <a href="mailto:kathryn.miller-jensen@yale.edu">kathryn.miller-jensen@yale.edu</a>.
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <h3>
      Open positions
    </h3>
    <p>
      We have a variety of openings.  Interested candidates should contact
      Professor Miller&ndash;Jensen by e&ndash;mail.
    </p>
    <p>
    <b>Postdoctoral fellows:</b>
      We are seeking a <a
      href="/static/files/kmj-yale-post-doc.pdf">Postdoctoral Research
      Associate</a> in computational biology to join our group.  The
      successful candidate will be part of a research collaboration
      to integrate experimental and computational approaches to study
      molecular mechanisms underlying the maintenance and reactivation
      of HIV latency.
    <p>


    <p><b>Graduate students:</b>
      We have both openings and rotation opportunities for
      Ph.D. students who have been admitted to the <a
      href="http://www.seas.yale.edu/departments-biomedical.php">Department
      of Biomedical Engineering</a>, the <a
      href="http://www.sackler.yale.edu/">Program in Physical and
      Engineering Biology</a>, or other biology&ndash;related
      disciplines.
    </p>

    <p><b>Undergraduate students:</b>
      In order to offer significant and challenging laboratory research
      projects, we ask undergraduate researchers to commit to 10-15
      hours per week for a minimum of 1 year.  All majors considered.
    </p>

    <p><b>Research Assistant:</b>
      We are seeking a motivated and independent
      <a href="/static/files/kmj-yale-res-asst.pdf">research assistant</a>
      to support the development of a microfluidic device to measure
      cytokine secretion and phosphorylation of intracellular proteins
      in single cells.  The successful candidate will be part of
      collaboration with <a href="http://www.eng.yale.edu/fanlab/">Prof.
      Rong Fan’s research group</a>, with opportunities for co-authorship
      on resulting publications.
    </p>
  </div>
</div>

