<div class="row">
  <div class="col-md-6">
    <h3>About Prof. Miller&ndash;Jensen</h3>
    <p>
      <img id="kmj" class="box-rotate-10 small-shadow hidden-xs" height="317"
      width="200" src="/static/img/kmj.jpg"> Kathryn is an Assistant
      Professor of Biomedical Engineering at Yale.  Before joining
      the faculty, she was an NIH Postdoctoral Fellow at <a
      href="http://www.Berkeley.edu">UC Berkeley</a> in the <a
      href="http://www.cchem.berkeley.edu/schaffer/">Schaffer
      laboratory</a>.
    </p>

    <p>
      Kathryn worked previously at the <a
      href="http://www.nationalacademies.org/">National Academies</a>,
      <a href="http://www.merck.com/">Merck Pharmaceuticals</a>,
      the<a href="http://english.cas.cn/"> Chinese Academy of
      Sciences,</a> and <a href="http://www.monitor.com/">Monitor
      Group</a>.  She
       received
      her Ph.D. in Chemical Engineering at <a
      href="http://web.mit.edu">MIT</a> with <a
      href="http://web.mit.edu/dallab">Doug Lauffenburger</a>.  and
      her B.E. &amp; B.A. degrees at <a
      href="http://www.Dartmouth.edu">Dartmouth College</a>.
    </p>

    <p>
      She can be reached via either of the following methods:
    </p>
    <ul>
      <li>
         phone at&nbsp;(203)&nbsp;432-4265, or
      </li>
      <li class="last">
        e&ndash;mail at <a href="mailto:kathryn.miller-jensen@yale.edu">kathryn.miller-jensen@yale.edu</a>.
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <h3>Lab News</h3>
    {% for news_item in news_items %}
    <p>
      {% with %}
        {% set url = uri_for('news') ~ '#' ~ news_item.key.id() %}
        {{news_item.get_as_markdown(summary=True, title_link=url)|markdown|safe}}
      {% endwith %}
    </p>
    {% endfor %}
  </div>
</div>

