<div class="row">
  <div class="col-md-12">
    <p>
      <span class="firstLetter"><span>C</span></span>
      <span class="remainderletters">ells
      interpret and respond</span> to environmental cues using a
      signaling network comprising chemical and physical interactions
      between molecules that, ultimately, modulate cellular behavior.
      During viral infection, these signaling networks are "hijacked"
      and rewired by virus proteins in order to induce a state of
      viral pathogenesis.  Our group applies quantitative,
      systems&ndash;level approaches to study signaling aspects of
      viral infection and develop novel anti-viral therapies. We
      use genetically&ndash;engineered viruses to study viral
      infection, as well as experimental and computational techniques
      for monitoring changes in the signaling network induced by
      these infections. We are currently interested in studying how
      proteins expressed in early&ndash;stage HIV infections establish
      a pathogenic state in cells of the immune system, and how
      latent HIV can be reactivated to purge chronic infections.
    </p>
  </div>
</div>