<div class="row">
  <div class="col-md-12">
    <p>
      <span class="firstLetter"><span>C</span></span>
      <span class="remainderletters">ells
      interpret and respond</span> to environmental cues using a
      signaling network comprising chemical and physical interactions
      between molecules that, ultimately, modulate cellular behavior.
      Cells maintain reliable cue-signal-response relationships
      despite significant biological &ldquo;noise&rdquo;. When cells are infected
      by pathogens, we hypothesize that this cell-to-cell variability
      is important both for mounting an effective immune response
      by the host and, in some cases, for pathogen evasion of the
      host’s response. Our group applies quantitative, systems–level
      experimental and computational approaches to study how
      intercellular signaling heterogeneity regulates host–pathogen
      innate immune interactions in macrophages and HIV latency in
      T cells.
    </p>
  </div>
</div>