<div class="row">
  <div class="col-md-12">
    <p>
      <span class="firstLetter">
        <span>T</span>
      </span>
      <span class="remainderletters"></span>he Miller-Jensen laboratory</span> uses a systems
      <em>immunology approach</em>: we combine quantitative experiments with integrated computational analyses to account for
      the multiple molecular and cellular processes, non-linear outputs, and complex intercellular interactions that ultimately
      enable robust immune regulation. We are specifically focused on the sources and consequences of cellular response diversity.
      Considering the precision of immune cell responses to diverse pathogenic threats, it is counterintuitive that genetically
      identical immune cells respond to perturbations with a high degree of cell-to- cell variability, or “noise”; but recent
      research makes clear that this variability is an indispensable feature of immune system function.
    </p>

    <p>
      Heterogeneity of macrophage communication behavior. Macrophages are cells of the innate immune system that perform a range
      of functions important in host defense against pathogens. To carry out diverse functions, macrophages maintain a functional
      plasticity, or flexibility, in their responses to microenvironmental stimuli, and we hypothesize this is partially
      enabled by cell-to-cell heterogeneity. We are studying how heterogeneous macrophage subsets coordinate activation of
      neighboring macrophages and other cells via paracrine signaling in response to pathogens and in the tumor microenvironment.
    </p>
    <p>
      Regulatory logic of signal–response relationships. We are also interested in the mechanisms that regulate cell-to-cell variability.
      Single-cell analyses provide a direct way to evaluate signal–response relationships. As a centrally important example,
      we focus on the NF-κB pathway, which regulates both endogenous inflammatory genes in macrophages and HIV gene expression
      in T cells. We are studying how targeting cell-to-cell response variability can modulate phenotypic outcomes in these
      contexts.
    </p>
  </div>
</div>