<div class="row">
  <div class="col-md-6">
    <h3>Contact us</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p>
      Our laboratory is located in the heart of the Yale campus between old campus and
      Science Hill.  You can reach us by phone at (203)&nbsp;432&#8209;4265.
    </p>
    <p>
    <b>Mailing Address</b><br>
    P.O. Box 208260<br>
    New Haven, CT 06520
    </p>
    <p>
    <b>Office Address</b><br>
    55 Prospect Street<br>
    MEC 311<br>
    New Haven, CT 06511
  </div>
  <div class="col-md-6">
    <a href="https://maps.google.com/maps?q=55+Prospect+Street,+New+Haven,+CT&hl=en&ll=41.313225,-72.925165&spn=0.009864,0.019205&sll=37.0625,-95.677068&sspn=42.445866,78.662109&oq=55+Prospect+Street&t=h&hnear=55+Prospect+St,+New+Haven,+Connecticut+06511&z=16">
      <img id="lab-map" class="box-rotate-10 large-shadow hidden-xs hidden-sm" height="440" width="440" src="http://maps.google.com/maps/api/staticmap?center=41.31329,-72.925143&amp;zoom=14&amp;size=440x440&amp;sensor=false&amp;&amp;markers=color:blue|label:S|41.31329,-72.925143&amp;format=jpg">
    </a>
  </div>
</div>