{% extends "base.html" %}


{% block body %}
		<div id="banner-row">
			
			<div id="banner" class="container_12">
				<div class="grid_6" id="tagline">
					<p id="westudy">
							We study how <em>viruses</em>
							hijack host
							<em>signaling pathways</em>
					</p>
					<p id="weuse">
						...using tools from <em>engineering</em>, <em>biology</em>, and <em>computer science</em>.
					</p>
				</div>
				<div class="grid_6">
					<!-- <img src="/static/img/nci-vol-1833-72.jpg"> -->
					<img width="420" height="272" class="box-rotate-15 large-shadow" src="/static/img/MedRF_29361-420-272.jpg">
					<!-- <img src="/static/img/MedRF_29654-rotated.jpg"> -->
					<!-- <img src="/static/img/banner-001.png">-->
					<p id="medrf-c">&copy; MedicalRF.com</p>
				</div>
			</div>
		</div>
		
		<div id="main-row">
	    <div id="main" class="container_12">
				<section class="grid_12 logicalrow" id="research-summary">
					<!-- <h3>About the lab</h3> -->
					<p>
					<span class="firstLetter"><span>C</span></span><span class="remainderletters">ells
					interpret and respond</span> to environmental cues using a signaling network comprising chemical
					and physical interactions between molecules that, ultimately, modulate cellular behavior.
					During viral infection, these signaling networks are "hijacked" and rewired by virus proteins
					in order to induce a state of viral pathogenesis. Our group applies
					quantitative, systems&ndash;level approaches to study signaling aspects of viral infection and
					develop novel anti-viral therapies. We use genetically&ndash;engineered viruses to study
					viral infection, as well as experimental and computational techniques for monitoring changes
					in the signaling network induced by these infections. We are currently interested in studying
					how proteins expressed in early&ndash;stage HIV infections establish a pathogenic state in cells of
					the immune system, and how latent HIV can be reactivated to purge chronic infections.
					</p>
				</section>
				<div class="clear">
				</div>
				<section class="grid_6 ">
				<h3>About Prof. Miller&ndash;Jensen</h3>
				<p>
					<img id="kmj" class="box-rotate-10 small-shadow" height="143" width="184" src="/static/img/kmj.jpg"> Kathryn is an Assistant Professor of Biomedical Engineering
					at Yale.  Before joining the faculty, she was an NIH Postdoctoral Fellow at <a href="http://www.Berkeley.edu">UC Berkeley</a>
					in the <a href="http://www.cchem.berkeley.edu/schaffer/">Schaffer laboratory</a>.
				</p>

				<p>
					Kathryn worked previously at the <a href="http://www.nationalacademies.org/">National Academies</a>, <a href="http://www.merck.com/">Merck Pharmaceuticals</a>,
					the<a href="http://english.cas.cn/"> Chinese Academy of Sciences,</a> and <a href="http://www.monitor.com/">Monitor Group</a>.
					She
					 received
					her Ph.D. in Chemical Engineering at <a href="http://web.mit.edu">MIT</a>
					with <a href="http://web.mit.edu/dallab">Doug Lauffenburger</a>.
					and her
					B.E. &amp; B.A. degrees at <a href="http://www.Dartmouth.edu">Dartmouth College</a>.
					</p>
					
					<p>She can
					be reached via either of the following methods:
					</p>
					<ul>
						<li>
					 phone at&nbsp;(203)&nbsp;432-4265, or
						</li>
						<li>
						e&ndash;mail at <a href="mailto:kathryn.miller-jensen@yale.edu">kathryn.miller-jensen@yale.edu</a>.
						</li>
					</ul>
					
				</section>
				<section class="grid_6">
					<h3>Open positions
					</h3>
					<p>
						We have a variety of openings.  Interested candidates should contact
						Professor Miller&ndash;Jensen by e&ndash;mail.
					</p>
					<p>
					<b>Postdoctoral fellows:</b>
					We have an open position in the area of HIV-cell signal interaction networks.  Strong references and a background in bioengineering, immunology, virology, or quantitative molecular biology (or a related discipline) is preferred.
					<p>


					<p><b>Graduate students:</b>
					We have both openings and rotation opportunities for
					Ph.D. students who have been admitted to the
					<a href="http://www.seas.yale.edu/departments-biomedical.php">Department of Biomedical Engineering</a>,
					the <a href="http://www.sackler.yale.edu/">Program in Physical and Engineering Biology</a>,
					or other biology&ndash;related disciplines.
					</p>

					<p><b>Undergraduate students:</b>
					In order to offer significant and challenging laboratory research projects, we ask undergraduate researchers to commit to 10-15 hours per week for a minimum of 1 year.  All majors considered.
					</p>

					<p><b>Research staff:</b>
					A position is open for an applicant with significant research experience in molecular biology, immunology, or virology.
					</p>
				</section>

				<div class="clear">
				</div>
				
					
				{# <section class="grid_6"> #}
				{# 	<h3>About the lab</h3> #}
				{#  #}
				{# </section> #}
				{# <section class="grid_6"> #}
				{# 	<h3>Open positions</h3> #}
				{# 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.		 #}
				{# </section> #}
				{# <div class="clear"> #}
				{# </div> #}
				{# <section class="grid_12"> #}
				{# 	<h3>Our papers</h3> #}
				{# 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.		 #}
				{# </section> #}
				{% if papers %}
					<section class="grid_12 logicalrow" id="papers">
						<h3>Select publications</h3>
						
						{% for paper in papers %}
							<div class="grid_12 paper-holder">
								<div class="grid_2 alpha">									
									<img class="{{ loop.cycle('', 'box-rotate-07-neg', 'box-rotate-07') }} small-shadow" height="125" width="97" src="/static/img/{{paper.pmid}}.png">
								</div>
								<article class="paper grid_10 omega">
									<p>
									<a href="{{paper.fulltext_url}}">{{paper.title}}</a>.
									{{paper.authors}} <b>{{paper.journal}}</b> {{paper.vol}}{% if paper.issue %}&nbsp;({{paper.issue}}){% endif %}{% if paper.pages %} {{paper.pages}}{% endif %},
									{{paper.year}}. {{paper.postscript}}
									</p>
									<p>View on: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{paper.pmid}}">Pubmed</a>, <a href="{{fulltext_url}}">{{paper.journal}} website</a>
									</p>
								</article>
							</div>
							{% if not loop.last %}<div class="clear"></div>	{% endif %}
						{% endfor %}
					</section>
				{% endif %}
				<section class="grid_12" id="contact">
				<h3>Contact us</h3>
				</section>
				<section class="grid_6">
				<p>
					Our laboratory is located in the heart of the Yale campus between old campus and
					Science Hill.  You can reach us by phone at (203) 432-4265.
				</p>
				<p>
				<b>Mailing Address</b><br>
				P.O. Box 208260<br>
				New Haven, CT 06520
				</p>
				<p>
				<b>Office Address</b><br>
				55 Prospect Street<br>
				MEC 311<br>
				New Haven, CT 06511
				</section>
				<section class="grid_6">
					<img id="lab-map" class="box-rotate-10 large-shadow" height="440" width="440" src="http://maps.google.com/maps/api/staticmap?center=41.31329,-72.925143&amp;zoom=14&amp;size=440x440&amp;sensor=false&amp;&amp;markers=color:blue|label:S|41.31329,-72.925143&amp;format=jpg">
				</section>
	    </div>
	    </div>
{% endblock %}