{% extends "base.html" %}


{% block body %}

		
		<div id="main-row">
	    <div id="main" class="container_12">


				<section class="grid_6">
					<h3>Open positions
					</h3>
					<p>
						We have a variety of openings.  Interested candidates should contact
						Professor Miller&ndash;Jensen by e&ndash;mail.
					</p>
					<p>
					<b>Postdoctoral fellows:</b>
					We have an open position in the area of HIV-cell signal interaction networks.  Strong references and a background in bioengineering, immunology, virology, or quantitative molecular biology (or a related discipline) is preferred.
					<p>


					<p><b>Graduate students:</b>
					We have both openings and rotation opportunities for
					Ph.D. students who have been admitted to the
					<a href="http://www.seas.yale.edu/departments-biomedical.php">Department of Biomedical Engineering</a>,
					the <a href="http://www.sackler.yale.edu/">Program in Physical and Engineering Biology</a>,
					or other biology&ndash;related disciplines.
					</p>

					<p><b>Undergraduate students:</b>
					In order to offer significant and challenging laboratory research projects, we ask undergraduate researchers to commit to 10-15 hours per week for a minimum of 1 year.  All majors considered.
					</p>

					<p><b>Research staff:</b>
					A position is open for an applicant with significant research experience in molecular biology, immunology, or virology.
					</p>
				</section>

				<section class="grid_6">
					<h3>Open positions
					</h3>
					<p>
						We have a variety of openings.  Interested candidates should contact
						Professor Miller&ndash;Jensen by e&ndash;mail.
					</p>
					<p>
					<b>Postdoctoral fellows:</b>
					We have an open position in the area of HIV-cell signal interaction networks.  Strong references and a background in bioengineering, immunology, virology, or quantitative molecular biology (or a related discipline) is preferred.
					<p>


					<p><b>Graduate students:</b>
					We have both openings and rotation opportunities for
					Ph.D. students who have been admitted to the
					<a href="http://www.seas.yale.edu/departments-biomedical.php">Department of Biomedical Engineering</a>,
					the <a href="http://www.sackler.yale.edu/">Program in Physical and Engineering Biology</a>,
					or other biology&ndash;related disciplines.
					</p>

					<p><b>Undergraduate students:</b>
					In order to offer significant and challenging laboratory research projects, we ask undergraduate researchers to commit to 10-15 hours per week for a minimum of 1 year.  All majors considered.
					</p>

					<p><b>Research staff:</b>
					A position is open for an applicant with significant research experience in molecular biology, immunology, or virology.
					</p>
				</section>

				<div class="clear">
				</div>

	    </div>
	    </div>
{% endblock %}