{% extends "base.html" %}


{% block title %}
  People in the Miller-Jensen Laboratory at Yale
{% endblock %}


{% block body %}

  {% with people = current_members %}
    {% include "people-table.html" %}
  {% endwith %}
  {% if alumni %}
    {% include "hr-row.html" %}

    <div class="row">
      <div class="col-md-12">
        <h3>
          Alunmi of the Miller-Jensen lab at Yale
        </h3>
      </div>
    </div>
    {% with people = alumni %}
      {% include "people-table.html" %}
    {% endwith %}
  {% endif %}

{% endblock %}
