<div class="row" id="banner">
  <div class="col-md-6" id="tagline">
    <p id="westudy">
        We study how <em>pathogens</em>
        hijack host
        <em>signaling pathways</em>
    </p>
    <p id="weuse">
      ...using tools from <em>engineering</em>, <em>biology</em>, and <em>computer science</em>.
    </p>
  </div>
  <div class="col-md-6">
    <img width="420" height="272" class="box-rotate-15 large-shadow hidden-xs hidden-sm" src="/static/img/MedRF_29361-420-272.jpg" alt="Virus image copright MedicalRF.com">
  </div>
</div>
