<div class="row" id="banner">
  <div class="col-md-6" id="tagline">
    <p id="westudy">
      We study how
      <em>cell signaling pathways</em> and
      <em>cell-cell communication networks</em> regulate
      <em>immune cell behavior</em>
    </p>
    <p id="weuse">
      ...using tools from
      <em>engineering</em>,
      <em>biology</em>, and
      <em>computer science</em>.
    </p>
  </div>
  <div class="col-md-6">
    <!-- Image from https://www.flickr.com/photos/niaid/17195150690 -->
    <img class="box-rotate-15 large-shadow hidden-xs hidden-sm" src="/static/img/macrophage.jpg" alt="Macrophage SEM image">
  </div>
</div>